/* Poppin  */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@font-face {
    font-family: myFont;
    src: url('BebasNeue.ttf');
}

@font-face {
    font-family: LightFont;
    src: url('./BebasNeue-Light.ttf')
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
    /* Enables smooth scrolling */
}

body {
    background-color: #F6FEF2;
}

/* Navbar */
.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 1.438rem 8.438rem; */
    padding: 0.719rem 2.219rem;
}

.menu-container {
    display: flex;
    align-items: center;
    gap: 0.938rem;
}

.nav_para {
    display: flex;
    align-items: center;
}

/* logo */

.logo-container img {
    width: 7.781rem;
    height: 2.656rem;
}

/* paras */
.menu-container p {
    font-family: Poppins;
    font-size: 0.625rem;
    font-weight: 200;
    text-decoration: none;
}

.menu-container a {
    color: #000000;
}

.nav_email a {
    text-decoration: underline;
}

.nav_phone a {
    text-decoration: none;
}

/* Button */
.menu-container button {
    width: 7.75rem;
    height: 2.063rem;
    font-family: Poppins, sans-serif;
    font-size: 0.688rem;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #44B5FF;
    border: none;
    border-radius: 2.531rem;
    padding: 0.531rem 1.906rem;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.menu-container button:hover {
    background-color: #3399CC;
    /* Darker shade of blue */
    color: #E0F7FF;
    /* Lighter text color */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    /* Subtle shadow */
    animation: bounce 0.5s;
    /* Trigger the bounce animation */
}

/* Bounce Animation */
@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}

/* menu */
.menu_elements {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 12rem;
    height: 100vh;
    background: rgb(101, 170, 101);
    padding: 50px 20px;
    text-align: center;
}

.menu_elements.active {
    display: flex;
    align-items: normal;
    justify-content: space-around;
    list-style: none;
}

.menu_elements li {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.menu_elements.active li {
    opacity: 1;
    width: 100%;
    height: 2.4rem;
    cursor: pointer;
    font-size: 1.4rem;
    transform: translateY(0);
    transition: opacity 0.5s ease 0.2s, transform 0.5s ease 0.2s;
    font-weight: 500;
    font-family: 'Poppins';
}

.menu_elements.active li:hover {
    background-color: rgba(0, 0, 0, 0.1);
    /* Light background on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Subtle shadow */
    color: #333;
    /* Change text color on hover if needed */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    /* Smooth transition */
}

.menu_elements a {
    text-decoration: none;
    color: #000000;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    cursor: pointer;
    z-index: 200;
    transition: 0.3s;
    width: 30px;
    height: 24px;
}

.menu-icon div {
    background-color: #000000;
    height: 4px;
    width: 30px;
    border-radius: 74px;
    transition: 0.3s;
}

.move .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.move .line2 {
    opacity: 0;
}

.move .line3 {
    transform: rotate(45deg) translate(-7px, -8px);
}

/* Header End */
.main_container_emp {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 23px 135px; */
    padding: 0.719rem 2.219rem;
}

.emp_part_a,
.emp_part_b {
    width: 50%;
}

.emp_part_a h3 {
    font-family: LightFont;
    font-weight: 300;
    font-size: 1.355rem;
    margin: -0.25rem 0;
}

.emp_part_a h2 {
    font-family: LightFont;
    font-weight: 300;
    font-size: 3rem;
}

.emp_part_a h1 {
    font-family: myFont;
    font-weight: 500;
    font-size: 6.5rem;
    margin: -1rem 0;
}

.emp_part_a p {
    font-family: Poppins;
    font-size: 0.49rem;
    font-weight: 400;
}

.inputfield_but {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 24.19rem;
    height: 2.75rem;
    border-radius: 3.4375rem;
    background-color: #FFFFFF;
    margin: 0.625rem 0 0 0;
}

.inputfield_but input {
    font-family: Poppins;
    width: 14.1rem;
    font-size: 0.75rem;
    border: none;
    outline: none;
    background: transparent;
}


.inputfield_but button {
    width: 7.75rem;
    height: 2.0625rem;
    font-family: Poppins;
    font-size: 0.75rem;
    font-weight: 400;
    background-color: #44B5FF;
    color: white;
    border: none;
    outline: none;
    border-radius: 2.75rem;
    cursor: pointer;
}

.inputfield_but button:hover {
    background-color: #3399CC;
    color: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    animation: bounce 0.5s;
}

/* part_b */
.emp_part_b {
    display: flex;
    align-items: center;
    justify-content: end;
}

.form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15.469rem;
    height: 19.594rem;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.form_container h2 {
    font-family: myFont;
    font-weight: 500;
    font-size: 2.5rem;
}

.form_container p {
    font-family: Poppins;
    font-size: 0.375rem;
    font-weight: 300;
    margin: 0 0 0.938rem 0;
}

.name_field {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 11.125rem;
    height: 1.5625rem;
    border: 1px solid lightgray;
    border-radius: 3.4375rem;
    background-color: #FFFFFF;
    margin: 0px 0 0.625rem 0;
}

.name_field i {
    font-size: 0.5rem;
}

.name_field input {
    width: 80%;
    font-family: Poppins;
    font-size: 0.6rem;
    border: none;
    outline: none;
    background: transparent;
}

.name_field input::placeholder {
    color: black;
    opacity: 1;
}

.message_field {
    width: 11.125rem;
    height: 4.1875rem;
    border: 1px solid lightgray;
    border-radius: 0.9rem;
    background-color: #FFFFFF;
    margin: 0 0 0.625rem 0;
    padding: 0.5rem 0.438rem;
}

.message_field i {
    font-size: 0.4rem;
    border: 1px solid grey;
    border-radius: 50%;
    padding: 0.25rem;
}

.message_field input {
    width: 80%;
    font-family: Poppins;
    font-size: 0.6rem;
    border: none;
    outline: none;
    background: transparent;
    padding-left: 2.5px;
}

.message_field input::placeholder {
    color: black;
    opacity: 1;
}

.form_container button {
    width: 11.25rem;
    height: 2.0625rem;
    font-family: Poppins;
    font-size: 0.7315rem;
    font-weight: 400;
    background-color: #44B5FF;
    color: white;
    border: none;
    outline: none;
    border-radius: 2.75rem;
    cursor: pointer;
}

.form_container button:hover {
    background-color: #3399CC;
    color: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    animation: bounce 0.5s;
}

.pic_container img {
    width: 100%;
    height: 19.594rem;
}

/* slider loop */

.menu-icon {
    cursor: pointer;
}

.menu_elements {
    display: none;
}

.menu_elements.active {
    display: block;
}

/* Slider Image Styling */
.loopslider figure img {
    /* width: 100%; */
    width: 80%;
    height: auto;
    border-radius: 20px;
}

/* Slider Container Styling */
.loopslider-container {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.loopslider-container .loopslider {
    margin: 0 auto;
    /* height: 290px; */
    height: 250px;
    position: relative;
    overflow: hidden;
}

.loopslider-container .loopslider .loopslider_wrap {
    display: flex;
    width: calc(400px * 5 * 2);
    /* Double the width to allow seamless loop */
    animation: slide-left 10s linear infinite;
}

.loopslider-container .loopslider .loopslider_wrap>ul {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
}

.loopslider-container .loopslider .loopslider_wrap>ul li {
    width: 400px;
    height: 430px;
    flex-shrink: 0;
    padding: 0 15px;
}

/* Animation for left sliding */
@keyframes slide-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

/* Mobile adjustments */
@media only screen and (max-width: 767px) {
    .loopslider-container .loopslider {
        height: 270px;
    }

    .loopslider-container .loopslider .loopslider_wrap {
        width: calc(250px * 5 * 2);
        /* Double the width to allow seamless loop */
        animation: slide-left 10s linear infinite;
    }

    .loopslider-container .loopslider .loopslider_wrap>ul li {
        width: 250px;
        height: 270px;
    }
}

.loop_slider_1 {
    margin: 2.688rem 0;
}

/* Loop Slider End */

/* Story Section */
.story {
    padding: 0.719rem 2.219rem;
}

.success_story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.success_story #ab1835 {
    text-align: center;
}

.success_story #ab1458 {
    font-family: Poppins;
    font-size: 0.859rem;
    font-weight: 700;
    color: #000000;
    display: flex;
    align-items: center;
}

.success_story #ab1458 img {
    width: 4.334rem;
    height: 0.859rem;
    margin: 0 8px;
}

.success_story h3 {
    font-family: myFont;
    font-weight: 500;
    font-size: 3.75rem;
    padding: 0.25rem 0;
}

.success_story #ab1835 {
    font-family: Poppins;
    font-size: 600;
    font-weight: 0.731rem;
}

/* Feedback section */
.feedback {
    /* width: 100%; */
    display: flex;
    justify-content: space-evenly;
}

/* .feedback_part_a,
.feedback_part_b {
    width: 50%;
} */

.feedback_part_a {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 20px;
}

.feeds_container {
    /* width: 147.5px; */
    height: 76px;
}

.feeds_container p {
    font-family: Poppins;
    font-size: 9px;
    font-weight: 800;
}

.feed_log img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: none;
    outline: none;
}

#hand {
    width: 55.37px;
    height: 49.03px;

}

.logo_name {
    display: flex;
    align-items: center;
    gap: 6px;
}

.feed_names #feedname {
    color: #363EFF;
    font-size: 8px;
    font-weight: 800;
}

.feed_names #at_rate {
    font-size: 8px;
    font-weight: 400;
    color: #3C3C43;
}

.show_original {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.show_original p {
    color: #818188;
    padding-top: 7px;
    font-size: 8px;
    font-weight: 400;
}

.feed_pat_b_images_and_logos {
    display: flex;
    align-items: center;
    gap: 0.688rem;
}

.feed_part_b_images {
    display: flex;
    align-items: center;
}

.feed_part_b_images img {
    width: 27.5px;
    height: 27.5px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: none;
    outline: none;
}

.feed_part_b_images #feed_b_img {
    margin: 0 0 0 -14px;
}

.feed_part_b_logos img {
    width: 10px;
    height: 10px;
}

.feed_part_b_logos #feed_b_logo {
    margin: 0 0 0 -4px;
}

.feed_part_b_logos p {
    font-family: Poppins;
    font-size: 0.446rem;
    color: #656161;
    font-weight: 600;
}

.feedback_part_b {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feedback_part_b h2 {
    font-family: Anton;
    font-size: 1.234rem;
    font-weight: 600;
    margin: 12px 0;
}

.feedback_part_b p {
    font-family: Poppins;
    font-size: 0.5rem;
    font-weight: 500;
    color: gray;
    line-height: 0.875rem;
}

.brands_images {
    display: flex;
    align-items: center;
    gap: 0.719rem;
}

.brands_images #trustpilot {
    width: 5.375rem;
    height: 2.219rem;
    object-fit: cover;
    object-position: center;
    border: none;
    outline: none;
}

.brands_images #google {
    width: 3.875rem;
    height: 2.156rem;
    object-fit: cover;
    object-position: center;
    border: none;
    outline: none;
    padding: 5px 0 0 0;
}

.brands_images #clutch {
    width: 5.063rem;
    height: 2.219rem;
    object-fit: cover;
    object-position: center;
    border: none;
    outline: none;
    padding: 4px 0 0 0;
}